In [12]:
import sqlite3

In [13]:
connection = sqlite3.connect("pets.db")
connection

In [14]:
cursor = connection.cursor()
cursor

In [15]:
cursor.execute("""
    create table if not exists pets(
        id integer primary key autoincrement,
        name text not null,
        type text not null,
        age integer,
        owner text
    )
""")

In [16]:

connection.commit()

In [19]:
name = "dorothy"
cursor.execute("""
    insert 
        into pets(name, type, age, owner) 
        values (?,?,?,?)
    """, (name,"dog",9,"greg"))

In [20]:
connection.commit()

In [21]:
for name in ["suzy","casey","heidi"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """, (name,"dog",9,"greg"))
    connection.commit()

In [22]:
for name in ["sandy","muffin","shadow"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """, (name,"cat",9,"katie"))
    connection.commit()

In [23]:
cursor.execute("select * from pets")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'dorothy', 'dog', 9, 'greg')
(2, 'suzy', 'dog', 9, 'greg')
(3, 'casey', 'dog', 9, 'greg')
(4, 'heidi', 'dog', 9, 'greg')
(5, 'sandy', 'cat', 9, 'katie')
(6, 'muffin', 'cat', 9, 'katie')
(7, 'shadow', 'cat', 9, 'katie')

In [25]:
cursor.execute("select * from pets where type = ?", ("cat",))
rows = cursor.fetchall()
for row in rows:
    print(row)

(5, 'sandy', 'cat', 9, 'katie')
(6, 'muffin', 'cat', 9, 'katie')
(7, 'shadow', 'cat', 9, 'katie')

In [ ]:
import sqlite3
connection = sqlite3.connect("pets.db")
connection
cursor = connection.cursor()
cursor
cursor.execute("""
    create table if not exists pets(
        id integer primary key autoincrement,
        name text not null,
        type text not null,
        age integer,
        owner text
    )
""")


connection.commit()
name = "dorothy"
cursor.execute("""
    insert 
        into pets(name, type, age, owner) 
        values (?,?,?,?)
    """, (name,"dog",9,"greg"))
connection.commit()
for name in ["suzy","casey","heidi"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """, (name,"dog",9,"greg"))
    connection.commit()
for name in ["sandy","muffin","shadow"]:
    cursor.execute("""
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)
        """, (name,"cat",9,"katie"))
    connection.commit()
cursor.execute("select * from pets")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [26]:
cursor.execute("select * from pets where type = ?", ("cat",))
row = cursor.fetchone()
print(row)

(5, 'sandy', 'cat', 9, 'katie')

In [27]:
cursor.execute("""
    update pets
    set age = ?
    where name = ?
    """, (11,"sandy"))
connection.commit()

In [29]:
cursor.execute("""
    delete from pets
    where type = ?
    """, ("cat",))
connection.commit()